<div class="row mt-5" *ngIf="program">
    <div class="col d-flex justify-content-center">
        {{program.name}}
    </div>
</div>

<div class="row mt-3" *ngIf="rules">
    <div class="col d-flex justify-content-center">
        <app-rule-chart [rules]="rules" (ruleClick)="onChartClick($event)"></app-rule-chart>
    </div>
</div>

<div class="row" *ngIf="rules">
    <div class="col d-flex justify-content-center">
        <div>
            <div id="rules" class="card-deck mt-3">
                <app-rule-card 
                    *ngFor="let rule of rules; let i = index;" 
                    [rule]="rule" 
                    [title]="'Rule ' + (rules.length > 1 ? i + 1 : '')"
                    (edit)="onEdit($event)"
                    (delete)="onDelete($event)"
                    (select)="onCardSelect($event)">
                </app-rule-card>
            </div>
            <div class="btn-group mt-5">
                <button type="button" class="btn btn-primary me-5" (click)="onAdd()">Add rule</button>
                <button type="button" class="btn btn-primary" (click)="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>
