<app-page-title title="logs"></app-page-title>


<form class="form" [formGroup]="form"  *ngIf="sensors">
    <div class="row">
        <div class="col-6 mt-5 d-flex justify-content-center">
            <ngb-datepicker ngDisabled="appContext.busy" formControlName="logDate" ></ngb-datepicker>
        </div>
    
        <div class="col-6 mt-5 d-flex justify-content-center">
            <div formArrayName="sensors">
                <div *ngFor="let sensor of sensors; let i = index">
                        <label >
                            <input [formControlName]="i" type="checkbox" >
                            {{sensor.description}}
                        </label>
                    </div>
                </div>
        </div>
    </div>
</form>

<div class="row" *ngIf="logExtract">
    <div class="col-12 mt-5 d-flex justify-content-center">
            <app-log-chart [logExtract]="logExtract" [sensorFilter]="selectedSensors"></app-log-chart>
    </div>
</div>
