<app-alert></app-alert>
<app-page-title title="programs"></app-page-title>

<div class="row">
    <div class="col-12 mt-5 d-flex justify-content-center" *ngIf="config && appContext">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Weekday</td>
                        <td>
                            <select 
                                class="form-control"
                                id="weekdayProgram"
                                (change)="onSetNamedProgram('weekdayProgramId', $event.target.value)"
                                [disabled]="appContext.busy">
                                <option 
                                    *ngFor="let program of programs" 
                                    [value]="program.id"
                                    [selected]="config.getNamedConfig().weekdayProgramId === program.id">
                                    {{program.name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>
                            <select 
                                class="form-control"
                                id="saturdayProgram"
                                (change)="onSetNamedProgram('saturdayProgramId', $event.target.value)"
                                [disabled]="appContext.busy">
                                <option 
                                    *ngFor="let program of programs" 
                                    [value]="program.id"
                                    [selected]="config.getNamedConfig().saturdayProgramId === program.id">
                                    {{program.name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>
                            <select 
                                class="form-control"
                                id="sundayProgram"
                                (change)="onSetNamedProgram('sundayProgramId', $event.target.value)"
                                [disabled]="appContext.busy">
                                <option 
                                    *ngFor="let program of programs" 
                                    [value]="program.id"
                                    [selected]="config.getNamedConfig().sundayProgramId === program.id">
                                    {{program.name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

<div class="card-deck w-100" *ngIf="config && appContext">
    <ng-container *ngFor="let program of config.getProgramConfig()">
        <app-program-card [program]="program" (setNamedProgram)="onSetNamedProgram($event)"
            (deleteProgram)="onDelete($event)" (useProgram)="onUseProgram($event)">
        </app-program-card>
    </ng-container>
</div>

<div class="row" *ngIf="config && appContext">
    <div class="col-12 mt-5 d-flex justify-content-left">
        <button type="button" class="btn btn-primary" (click)="onNewProgram()">New Program</button>
    </div>
</div>