<h3>Programs</h3>
<div class="row">
    <div class="col-12 mt-5 d-flex justify-content-center" *ngIf="config">
        <table class="table">
            <tbody>
                <tr>
                    <td>Weekday</td>
                    <td>{{weekdayProgramName}}</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>{{saturdayProgramName}}</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>{{sundayProgramName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card-deck w-100" *ngIf="config">
    <ng-container *ngFor="let program of config.getProgramConfig()">
        <app-program-card [program]="program" (setNamedProgram)="onSetNamedProgram($event)" (deleteProgram)="onDelete($event)">
        </app-program-card>
    </ng-container>
</div>

<div class="row" *ngIf="config">
    <div class="col-12 mt-5 d-flex justify-content-left">
        <button type="button" class="btn btn-primary" (click)="onNewProgram()">New Program</button>
    </div>
</div>