<div class="row">
    <div class="col d-flex justify-content-center">
        <form class="form mt-5" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">

            <div class="form-group">
                <label class="control-label" for="startHour">Start time</label>
                <select class="form-control" id="startHour" formControlName="startHour">
                    <option *ngFor="let hour of hours" [ngValue]="hour">{{hour.text}}</option>
                </select>
                <select class="form-control" id="startMinute" formControlName="startMinute">
                    <option *ngFor="let minute of minutes" [ngValue]="minute">{{minute.text}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="duration">Duration</label>
                <select class="form-control" id="duration" formControlName="duration">
                    <option *ngFor="let d of durations" [ngValue]="d">{{d.text}}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label" for="role">Sensor</label>
                <select class="form-control" id="role" formControlName="role" (change)="onRoleChange()">
                    <option *ngFor="let r of roles" [ngValue]="r">{{r.text}}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label" for="temp">Temperature</label>
                <input class="form-control" type="number" step="1" id="temp" formControlName="temp" />
                <div class="alert-danger" *ngIf="form.errors">{{form.errors.roleTempValidator}}</div>
            </div>

            <div class="form-group row">
                <div class=col>
                    <button type="submit" class="btn btn-primary mr-5 mt-3" [disabled]="!form.valid">Save</button>
                    <button type="button" class="btn btn-primary mr-5 mt-3" (click)="onCancel()">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>