<div class="card  mt-5">
    <div class="card-header">
        <h4 class="card-title">{{program.name}}</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <table>
                    <tbody>
                        <tr>
                            <td>Hot water maximum</td>
                            <td>{{program.maxHwTemp}}</td>
                        </tr>
                        <tr>
                            <td>Hot water minimum</td>
                            <td>{{program.minHwTemp}}</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="2">
                                <button type="button" class="btn btn-link mr-0 pr-0" [disabled]="appContext.busy" (click)="onEdit()">edit</button>
                            </td>
                        </tr>
        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <app-rule-chart [rules]="program.getRules()"></app-rule-chart>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <button [disabled]="appContext.busy" (click)="onEditRules()" class="card-link btn-link">Edit Rules</button>
                <button [disabled]="appContext.busy" (click)="onDelete()" class="card-link btn-link">Delete</button>
                <button [disabled]="appContext.busy" (click)="onUse()" class="card-link btn-link">Use</button>
            </div>
        </div>
    </div>
</div>