<div class="card  mt-5">
    <div class="card-header">
        <h4 class="card-title">{{program.name}}</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <table>
                    <tbody>
                        <tr>
                            <td>Hot water maximum</td>
                            <td>{{program.maxHwTemp}}</td>
                        </tr>
                        <tr>
                            <td>Hot water minimum</td>
                            <td>{{program.minHwTemp}}</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="2">
                                <button type="button" class="btn btn-link mr-0 pr-0" [routerLink]="['/program-edit', program.id]">edit</button>
                            </td>
                        </tr>
        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <app-rule-chart [program]="program"></app-rule-chart>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <button class="btn btn-outline-primary" (click)="setNamedProgram('weekdayProgramId', program.id)">Weekdays</button>
            </div>
            <div class="col-4">
                <button class="btn btn-outline-primary" (click)="setNamedProgram('saturdayProgramId', program.id)">Saturdays</button>
            </div>
            <div class="col-4">
                <button class="btn btn-outline-primary" (click)="setNamedProgram('sundayProgramId', program.id)">Sundays</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <a [routerLink]="['/program', program.id,'rules-edit']" class="card-link">Edit Rules</a>
            </div>
        </div>
    </div>
</div>