<app-page-title title="status"></app-page-title>

<div class="row mt-5" *ngIf="controlState">
    <div class="col-sm-2">CONTROL STATE</div>
    <div class="col-sm-10">
        <app-control-state [controlState]="controlState"></app-control-state>
    </div>
</div>

<div class="row mt-5" *ngIf="overrides && overrides.length">
    <div class="col-sm-2">OVERRIDES</div>
    <div class="col-sm-10">
        <app-override-list [overrides]="overrides"></app-override-list>
    </div>
</div>

<div class="row mt-5" *ngIf="readings">
    <div class="col-sm-2">READINGS</div>
    <div class="col-sm-10">
        <app-sensor-reading-list [readings]="readings"></app-sensor-reading-list>
    </div>
</div>

<div class="row mt-5" *ngIf="activeProgram">
    <div class="col-sm-2">ACTIVE PROGRAM</div>
    <div class="col-sm-10">

        <div class="row">
            <div class="col-md mb-3">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="2" class="font-weight-bold">{{activeProgram.name}}</td>
                        </tr>
                        <tr>
                            <td>Hot water maximum</td>
                            <td>{{activeProgram.maxHwTemp}}</td>
                        </tr>
                        <tr>
                            <td>Hot water minimum</td>
                            <td>{{activeProgram.minHwTemp}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md">
                <app-rule-list [rules]="activeProgram.getRules()"></app-rule-list>
            </div>

            <div class="col-md">
                <app-rule-chart [rules]="activeProgram.getRules()"></app-rule-chart>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <button type="button" class="btn btn-primary" (click)="onRefresh()">Refresh</button>
    </div>
</div>
